%h1 Sports

= link_to 'Home', root_path
%br
= link_to 'Ticket prices', sport_prices_path
%br

%table


  %tbody
    - @sports.each do |sport|
      %tr
        %td= sport.title
        %td= sport.description
        .overlay
          %td= image_tag(sport.image_url, class: 'image')


%br



%p#ad Advertise here
