%h1 Bookings

%p#book Below are details regarding slots that have already been booked

= link_to 'Home', root_path

%br

%table
  %thead#head
    %tr
      %th Name
      %th Email
      %th Sport
      %th When
      %th Tickets
      %th


  %tbody
    - @books.each do |book|
      %tr
        %td= book.Name
        %td= book.Email
        %td= book.sport.try(:title)
        %td= book.When
        %td= book.Tickets
        %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }


%br

= link_to 'New Booking', new_book_path

%p#ad Advertise here
