%h1 Ticket prices

%table
  %thead
    %tr
      %th Sport
      %th Price
      %th
      %th
      %th

  %tbody
    - @sport_prices.each do |sport_price|
      %tr
        %td= sport_price.sport.try(:title)
        %td= number_to_currency(sport_price.price)
        %td= link_to 'Show', sport_price
        %td= link_to 'Edit', edit_sport_price_path(sport_price)
        %td= link_to 'Destroy', sport_price, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Sport price', new_sport_price_path

%br
